body{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0;
  color: #404040;
  margin-top: 69px;
}

p{
  font-family:  sans-serif;
}

h2{
  font-weight: lighter;
}
.buttons{
  display: flex;
  justify-content: flex-start;
  margin-left: 80px;
  margin-right: 80px;
}
.buttons-np{
  display: flex;
  justify-content: flex-start;
  margin-right: 80px;
}

#html.btn {
  border: 2px solid #e85326;
  background-color: #e85326;
  color: white;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#python.btn {
  border: 2px solid #fccc39;
  background-color: #fccc39;
  color: #3474a7;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#css.btn {
  border: 2px solid #049ce4;
  background-color: #049ce4;
  color: #0474bc;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#js.btn {
  border: 2px solid #f3db4c;
  background-color: #f3db4c;
  color: black;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#asp.btn {
  border: 2px solid #58c1ed;
  background-color: #58c1ed;
  color: #196493;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#csharp.btn {
  border: 2px solid #2f047f;
  background-color: #2f047f;
  color: white;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#react.btn {
  border: 2px solid #60d3f1;
  background-color: #60d3f1;
  color: black;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}

#node.btn {
  border: 2px solid #3c873a;
  background-color: #3c873a;
  color: black;
  font-size: 20px;
  flex-grow: 1;
  height: auto;
  padding: 18px;
}
/**************NAVBAR***************/
.container{
  overflow:auto;
  border-bottom: 2px solid #404040;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 500;
}
.logo{
  flex-grow: 2;
}

.logo h1{
  margin: 0;
  padding-top: 8px;
  padding-left: 20px;
}

.container ul li{
  display: inline-block;
  padding: 0 10px;
  color: gray;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}

.container ul li a{
  text-decoration: none;
  padding: 19px 10px;
  font-size: 29px;
  font-family: sans-serif;
}
.container a:visited{
  color: #404040;
}

.container ul li a:visited {
  color: #404040;
}

.container ul li a:hover {
  border: 1px solid #404040;
  border-top: 0;
  border-bottom: 0;
  color: #404040;
}

.container ul li a:active {
  background-color: #404040;
  color: #007bff;
}

.site{
  font-size: 26px;
  display: flex;
}
/**************Border Line**************/
.two-lines{
  border-right: 2px solid #404040;
  width: 20px;
  position: relative;
  padding-left: 60px;
  top: -10px;
  animation: colorchange 30s linear 1s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 30s linear 0s infinite alternate; /* Chrome and Safari */
}

/**************INTRO**************/
.intro {
  padding: 60px 100px;
  display: flex;
  align-items: baseline;
}
.opening{
  padding: 60px 100px;
  display: flex;
}

.intro-wr{
  flex-grow: 1;
}

.intro-img{
  flex-grow: 1;
  width: 500px;
}

.intro-p{
  position: relative;
  width: 85%;
}

.intro-img img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto;
}

.intro-color-circle{
  display: flex;
  background-color: white;
  height: 310px;
  width: 310px;
  border-radius: 50%;
  animation: colorchange 3s linear 1s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 3s linear 0s infinite alternate; /* Chrome and Safari */
}
.bold{
  font-weight: bold;
  color: #404040;
  text-decoration: none;
}
.bold:hover{
  color: #007bff;
}

@keyframes colorchange
{
  0%   {background: #404040; }
  33%  {background: white; }
  66%  {background: #007bff;}
  100% {background: #404040; }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #404040; }
  33%  {background: white; }
  66%  {background: #007bff;}
  100% {background: #404040; }
}
/**************BACKGROUND*********/
.resume{

    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-shadow: inset 2px 0 0 #007bff;
    box-shadow: inset 2px 0 0 #007bff;
}

.resume:hover{
  -webkit-box-shadow:inset 33px 0 0 0 #007bff;
  box-shadow:inset 170px 0 0 0 #007bff;
  color:#fff
}
/**************SKILLS**************/
.skills-category ul{
  list-style: none;
  padding-left: 0;
}
.skills-category ul li{
  width: 150px;
  font-family: sans-serif;
}
.skills-category-item{
  font-size: 26px;
  color: #36454F;
}
/**************PROJECTS***************/
.project{
  text-align: center;
  font-weight: bold;
  margin-bottom: 150px;
}

.project p{
  text-align: justify;
  margin-left: 80px;
  margin-right: 80px;
  font-weight: normal;

}

.project img{
  width: 600px;
  height: auto;
}

.bold-proj{
  font-weight: bold;
  color: #404040;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: inset 0 -2px 0 #007bff;
  box-shadow: inset 0 -2px 0  #007bff;
}

.bold-proj:hover{
  -webkit-box-shadow:inset 0 -180px 0 0 #007bff;
  box-shadow:inset 0 -180px 0 0 #007bff;
  color:#fff
}

.nopic{
  text-align: left;
}

.nopic p{
  text-align: left;
  margin-left: 0;
}

.git{
  animation: gitchange 3s linear 1s infinite; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: gitchange 3s linear 0s infinite alternate; /* Chrome and Safari */
}


@keyframes gitchange
{
  0%   {color: white; }
  33%  {color: #007bff; }
  66%  {color: white;}
  100% {color: #007bff; }
}

@-webkit-keyframes gitchange /* Safari and Chrome - necessary duplicate */
{
  0%   {color: white; }
  33%  {color: #007bff; }
  66%  {color: white;}
  100% {color: #007bff; }
}
/**************CONTAINER**************/
.title{
  color: #007bff;
  flex-grow: 1;
  width: 100px;
  margin-left: 5%;
}

.container-content{
  flex-grow: 1;
  width: 500px;
}

#skills-container.container-content{
  flex-grow: 1;
  width: 500px;
  display: flex;
}

.skills-category{
  margin-right: 70px;
}
/**************FOOOTER**************/
footer{
  height: 50px;
  border-bottom: 2px solid #404040;
  border-top: 2px solid #404040;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  font-size: 26px;
  display: flex;
  justify-content: space-around;
}

footer p{
  margin: 8px 0 0 0;
}

.footer-link{
  margin: 8px 0 0 0;
  font-family:  sans-serif;
}

.footer-link a{
  color: inherit;
  text-decoration: none;
  margin: 0 0 0 12px;
}

.footer-link a:hover{
  color: #007bff;
}
